body{
    background-color: rgb(13, 228, 228);
}
p{
    text-align: center;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: aliceblue;
    text-align: center;
}